# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# hidden files
.*

# binaries
*.exe
*.bin

# cmake and other build files
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
*.kdev4
/doc/
/build*/
include/geCore/Export.h
include/geGL/Export.h
include/geRG/Export.h
include/geSG/Export.h
include/geUtil/Export.h
include/geDE/Export.h
include/geParser/Export.h
geAd/SDLWindow/Export.h
geAd/Export.h
